.neutralField {
    font-weight: bold;
}

.correctField {
    font-weight: bold;
    border-bottom-color: greenyellow;
    border: bottom width 20px bold;
}

.incorrectField {
    font-weight: bold;
    border-bottom-color: red;
    border: bottom width 20px bold;
}

.subBtn{
    height: 30px;
    width: 60px;
}