body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand' , sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container div {
    border: 1px solid black;
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
}

header {
    grid-column-start: 2;
    grid-column-end: 3;
}

.neutralField {
    font-weight: bold;
}

.correctField {
    font-weight: bold;
    border-bottom-color: greenyellow;
    border: bottom width 20px bold;
}

.incorrectField {
    font-weight: bold;
    border-bottom-color: red;
    border: bottom width 20px bold;
}

.subBtn{
    height: 30px;
    width: 60px;
}